
@{
    ViewBag.Title = "ABOUT";
}


<head>
    <meta charset="UTF-8">
    <link href="~/Content/About.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/AboutJS.js"></script>

</head>
<body>


</body>

