
@{
    ViewBag.Title = "ABOUT";
}


    <head>
        <meta charset="UTF-8">
        <link href="~/Content/About.css" rel="stylesheet" />

    </head>
<body>
    <div class="header">
        <p id="one"></p>

        <p id="a">
            <a href="HotelPedia.html">HOME</a>
            <a href="HotelSearch.html">HOTEL SEARCH</a>
            <a href="DISCOVER.html">DISCOVER</a>
            <a href="ABOUT.html">ABOUT</a>
        </p>

    </div>
    <div class="body1">
        <p id="two">HotelPedia<br>Skopje</p>

    </div>

</body>
</html>

