
@{
    ViewBag.Title = "ABOUT";
}


<head>
    <meta charset="UTF-8">
    <link href="~/Content/About.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/AboutJS.js"></script>

</head>
<body class="about">
    <div class="aboutText">
        Оваа веб апликација служи за пребарување и филтрирање податоци за
        хотели во регионот Центар, Скопје. Веб апликацијата ќе поседува голем
        број на функционалности. Корисниците ќе имаат можност да се запознаат
        со сите подетални информации поврзани со пребараните хотели. Главна
        цел ќе биде корисниците да ги искористат дадените филтри за да го
        добијат очекуваниот резултат, хотел. Како дадени филтри, може да се
        набројат цената, бројот на ѕвезди, можност за паркинг. Апликацијата ќе
        дозволува на корисниците да имаат пристап до мапа со филтрираните
        хотели.
        Овој систем ќе биде од голема корист за љубителите на патувањето, кои
        секогаш ќе можат, на оваа страница, да го пронајдат најсоодветното место
        за престој. Туристите ќе добијат целосен преглед на хотелите во центарот
        на градот, каде би биле сместиле близу до сите локации во Скопје.
    </div>

</body>

