@model IEnumerable<HotelPedia.Models.Hotel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApplySort</title>
</head>
<body>

    @{
        var data = ViewBag.Message;
    }
    <h3>Id: @data</h3>

   
        
</body>
</html>
