
@{
    ViewBag.Title = "Discover";
}

<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/Discover.css" rel="stylesheet" />

</head>
<body>
  
    <div class="body1">
        <span id="things">Things to see and do in Skopje</span>
    </div>
    <div class="visit">
        <span style=" font-family: 'Cedarville Cursive', cursive; font-size: 26px">Visit Skopje...</span>
        <img src="~/Content/images/Zname.png" id="zname"><br>
        <img src="~/Content/images/Spomenik.jpeg" id="spomenik">
        <img src="~/Content/images/Most.jpg" id="most"><br>
        <img src="~/Content/images/Carsija.jpg" id="carsija">
        <img src="~/Content/images/Kale.jpg" id="kale">


    </div>

    <div class="old">
        <span style="font-size: 20px; color: #E0B15E">OLD BAZZAR: </span>
        <span style="font-size: 16px; color: #c9bbe0">The Heart and the Soul of Skopje</span><br>
        <img src="~/Content/images/oldbazaar.jpg" id="old">
        <img src="~/Content/images/oldbazaar1.jpg" id="old1">


    </div>

    <div class="holocaust">
        <span style="font-size: 20px; color: #E0B15E">Holocaust Memorial Centre: </span>
        <span style="font-size: 16px; color: #c9bbe0">Memorial to the holocaust of the 7,148 Jews from Macedonia</span><br>
        <img src="~/Content/images/holocaust1.jpg" id="holocaust1">
        <img src="~/Content/images/holocaust2.jpg" id="holocaust2">

    </div>

    <div class="matka">
        <span style="font-size: 20px; color: #E0B15E">Lake Matka: </span>
        <span style="font-size: 16px; color: #c9bbe0">Best place for Kayaking!</span><br>
        <img src="~/Content/images/matka4.jpg" id="matka1">
        <img src="~/Content/images/matka2.jpg" id="matka2">

    </div>

    <div class="kale">
        <span style="font-size: 20px; color: #E0B15E">Skopje Fortness: </span>
        <span style="font-size: 16px; color: #c9bbe0">The highest point in the city overlooking the Vardar River</span><br>
        <img src="~/Content/images/kale1.jpg" id="kale1">
        <img src="~/Content/images/kale3.jpg" id="kale2">

    </div>
    <div class="makselo">
        <span style="font-size: 20px; color: #E0B15E">Resort Makedonsko Selo: </span>
        <span style="font-size: 16px; color: #c9bbe0">Taste the most delicious macedonian food and macedonian dishes!</span><br>
        <img src="~/Content/images/selo1.jpg" id="selo1">
        <img src="~/Content/images/food.jpg" id="food">

    </div>
</body>
</html>

