
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    background: url("images/body-bg-marriott.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}