@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@100;700&family=Spartan:wght@800&display=swap');

body {
    background-color: #f6f6f6;
}

a{
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding: 11px;

}


