@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@100;700&family=Spartan:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    margin: 0;
}

html, body {
    height: 100%
}

.glavenDiv {
    min-height: 100%;
    position: relative;
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.headerDiv {
    height: 100px;
    width: 100%;
}

.bodyDiv {
    padding-bottom: 100px;
}

footer {
    color: #ddd;
    padding-left: 20px;
    width: 100%;
    bottom: 20px;
    left: 0;
    position: relative;
    right: 0;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.header {
    background-color: #132540;
    text-align: center;
    padding: 10px;
    height: 80px;
    margin-top: -50px;
}

a {
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding: 25px;
}


div.header > #one {
    background-color: #E0B15E;
    width: 190px;
    height: 220px;
    margin-top: -50px;
    margin-bottom: -110px;
    margin-left: 50px;
}

div.header > ul {
    margin-top: -40px;
    float: right;
}

.nav > li > a:hover {
    font-weight: 600;
}

.form-li {
    margin-top: -4px;
    margin-left: 50px;
}

    .form-li input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        border-radius: 2px;
    }

    .form-li button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

        .form-li button:hover {
            background: #ccc;
        }


div.body1 > #two {
    font-family: 'Spartan', sans-serif;
    font-weight: 800;
    font-size: 26px;
    text-align: left;
    color: #F6F6F6;
    margin-left: 77px;
    margin-top: 0px;
}

.find-the-best-hotels {
    padding-top: 50px;
}

div.find-the-best-hotels > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 56px;
    color: #F6F6F6;
    background: transparent;
    width: 500px;
    margin-left: 60px;
    margin-top: 90px;
}

.slidecontainer {
    background-color: #F6F6F6;
    width: 600px;
    height: 150px;
    border: 8px solid #E0B15E;
    margin-left: 640px;
    margin-top: -300px;
}

div.slidecontainer > a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    font-family: 'Spartan', sans-serif;
    background-color: #ff397e;
    text-decoration: none;
    color: #F6F6F6;
    border-radius: 33px;
    margin-left: 60px;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 50px;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 30px;
        height: 30px;
        border: 0;
        background: url('images/dollarsign.png');
        cursor: pointer;
    }


div.slidecontainer > #stars {
    margin-left: 60px;
}

div.slidecontainer > #myRange {
    margin-left: 60px;
    margin-top: 50px;
}

#demo {
    font-family: 'Spartan', sans-serif;
    color: grey;
    margin-left: 60px;
}

input[type="range"] {
    display: block;
    width: 30%;
}

.btnSearch {
    background-color: #e4225f;
    border: 1px #e4225f;
    border-radius: 25px;
    color: #F6F6F6;
    padding: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: -105px;
    margin-right: 30px;
}

    .btnSearch:hover {
        background-color: #cc1952;
        color: #F6F6F6;
        box-shadow: 1px 1px 5px #888888;
    }

    .btnSearch:focus {
        color: #F6F6F6;
    }

.btnSearchContainer {
    float: right;
}

.checked {
    color: orange;
}

.unchecked {
    color: gray;
}

.rating {
    border: none;
    float: left;
    margin-left: 270px;
    margin-top: -70px;
}

    .rating > input {
        display: none;
    }

    .rating > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > .half:before {
        content: "\f089";
        position: absolute;
    }

    .rating > label {
        color: #ddd;
        float: right;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
        color: #FFD700;
    }
        /* hover previous stars in list */
        .rating > input:checked + label:hover, /* hover current star when changing rating */
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating > input:checked ~ label:hover ~ label {
            color: #FFED85;
        }

div.marriott {
    background: #FFFFFF;
    width: 700px;
    height: 260px;
    margin-left: 330px;
    margin-top: -325px;
    line-height: 1.6em;
    font-family: 'Montserrat', sans-serif;
}

    div.marriott > #marriott {
        width: auto;
        height: 200px;
        padding: 30px;
    }

div.visit {
    background: #EBE5E5;
    width: 310px;
    padding: 10px;
    margin-left: 1100px;
    margin-top: -900px;
}

#zname {
    width: auto;
    height: 30px;
}

#spomenik, #most, #carsija, #kale {
    width: 90px;
    height: 100px;
}


.sortFilterContainer {
    font-family: 'Montserrat', sans-serif;
    color: dimgrey;
    font-weight: bold;
    font-size: 13px;
    background-color: #EBE5E5;
    height: auto;
    max-width: 190px;
    margin-left: 60px;
    margin-right: 100px;
    margin-top: 100px;
    line-height: 2em;
    padding: 0 20px;
}

.sortFilterContainer {
    float: left;
}

sortFilterContainer > #stars {
    margin-left: 40px;
}

sortFilterContainer > #checkbox {
    margin-left: 15px;
}

.imgHotel {
    height: 180px;
    width: 230px;
    object-fit: cover;
}

/* The container */
.containerCheckbox {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .containerCheckbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmark {
    background-color: #132540;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hoteliContainer {
    float: left;
    width: 750px;
    padding: 20px;
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
}

.forEachHotel {
    background-color: #fff;
    clear: both;
    height: 220px;
    padding: 20px;
    margin-bottom: 20px;
}

.divImg, .divInfo {
    float: left;
}

.divInfo {
    width: 350px;
    padding-left: 20px;
}

.naslovForEach {
    font-weight: bold;
    font-size: 25px;
}

.addressInfo, .visitInfo {
    vertical-align: middle;
}

.addressInfo {
    font-size: 10px;
    float: left;
}

.visitInfo {
    float: right;
    margin-top: -3px;
}

.containerAddrVisit {
    width: 425px;
    height: 20px;
    margin-top: 12px;
}
